@media all and (max-width: 992px) {
  * {
    width: auto;
  }
  body {
    display: flex;
    align-items: center;
  }
  .test {
    width: auto;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .heb-sec .bloc-sec {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .bloc-one-filtre {
    margin-left: 150px;
  }
  .logo-radius {
    margin-left: 170px;
  }
  .heb-sec {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  form ul:hover {
    border-top: 2px solid transparent;
    border-bottom: 2px solid blue;
  }
  .one-article {
    order: 2;
    width: 100%;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
  .second-article {
    order: 1;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .bloc-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer {
    width: 100%;
  }
  .li-nav:hover {
    border-top: none;
    padding-bottom: 10px;
    border-bottom: 2px solid blue;
  }
  .lasttitle-heb {
    margin-bottom: 20px;
  }
  .container-act {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .sec-act {
    height: auto;
  }
  .container-two-act,
  .act-four,
  .act-one,
  .containers-tree {
    margin: 10px;
  }
  .h3-act {
    margin-left: 20px;
  }
}
@media all and (max-width: 768px) {
  * {
    width: auto;
  }
  .container-footer {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .one-ul-foot,
  .two-ul-foot,
  .tree-ul-foot {
    padding-left: 0px;
  }
  .li-nav {
    padding-left: 0px;
    width: 49%;
  }
  .ul-nav,
  .nav-head {
    width: 100%;
    height: auto;
  }
  .h2-sec {
    font-size: 20px;
    width: 80%;
    padding-left: 40px;
  }
  .div-sec {
    margin-top: 30px;
  }
  .h3-sec {
    margin-top: 5px;
    font-size: 15px;
    padding-left: 40px;
  }
}
